  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
:root{
    --font-serious:'Urbanist', sans-serif;
    --color-border: rgb(248, 247, 247);
    
}
.font-serious{
    font: normal 500 30px var(--font-serious);
}
