@import url('https://fonts.googleapis.com/css2?family=Varta&display=swap');
:root{
    --font-varta: 'Varta', sans-serif;
    --color-border: rgb(187, 180, 180);
    
}
.font-serious2{
    font: normal 500 17px var(--font-varta,);
}
@import url('https://fonts.googleapis.com/css2?family=Varta&display=swap');
:root{
    --font-varta: 'Varta', sans-serif;
    --color-border: rgb(187, 180, 180);
    
}
.font-serious1{
    font: normal 700 30px var(--font-varta,);
}
@import url('https://fonts.googleapis.com/css2?family=Varta&display=swap');
:root{
    --font-varta: 'Varta', sans-serif;
    --color-border: rgb(187, 180, 180);
    
}
.font-serious4{
    font: normal 600 20px var(--font-varta,);
}
@import url('https://fonts.googleapis.com/css2?family=Varta&display=swap');
:root{
    --font-varta: 'Varta', sans-serif;
    --color-border: rgb(187, 180, 180);
    
}
.font-serious5{
    font: normal 600 25px var(--font-varta,);
}

